body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* global section fixed */
#section_height {
  padding: 100px 100px;
}

/* top banner */

.section_style {
  display: flex;
  justify-content: space-between;
}
.text_part {
  width: 45%;
  float: left;
  padding-top: 50px;
}
.text_part h1 {
  font-size: 45px;
  font-weight: 700;
}
#header_style h1 {
  border-left: 5px solid #474dff;
  padding-left: 10px;
}

.text_part p {
  padding-bottom: 10px;
}
.text_part span {
  color: #474dff;
}
.image_part {
  width: 45%;
  float: left;
}
.image_part img {
  height: 100%;
  width: 100%;
}
.overall_button {
  text-decoration: none;
  padding: 10px 10px;
  background-color: #474dff;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

/* global part */
.global_commity {
  background-image: url("images/shape-1.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20%;
}
/* develop part */
.develop_with_limit {
  background-image: url("images/shape-1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20%;
}
/* mission_2022 part */
.mission_2022 {
  background-image: url("images/shape_dot.png");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: right;
}
.mission_2022_box {
  display: flex;
  justify-content: space-between;
}
.mission_2022 h1 {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
}
.mission_2022 span {
  color: #474dff;
}
.first_box,
.second_box,
.third_box {
  float: left;
  width: 30%;
  border-radius: 26px;
  padding: 20px;
  margin: 0px 10px;
}
.first_box {
  background-color: #4f9da61a;
}
.second_box {
  background-color: #ff59591a;
}
.third_box {
  background-color: #fff4d6;
}
.illustrator_size {
  width: 50%;
}

/* portfolio_part */

.portfolio_part {
  padding: 0px 100px;
}
.portfolio_part h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.first_portfolio_part,
.second_portfolio_part {
  display: flex;
}
.first_portfolio_part img,
.second_portfolio_part img {
  width: 100%;
}
.portfolio_image {
  padding: 20px 40px;
  text-align: center;
}
.portfolio_image img {
  padding-bottom: 10px;
}
.portfolio_image a {
  text-decoration: none;
  padding: 10px 10px;
  background-color: #474dff;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
/* footer */
.footer_style {
  padding-top: 20px;
  height: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
}
.footer_style h3 {
  font-family: "Lobster", cursive;
  font-size: 36px;
}
.footer_style span {
  color: #ff5959;
}
